# export CELL_ZONES=a,b,c
# export TF_VAR_instance_type=t2.micro
# source Gunfile.prod.secrets

export ATLAS_USER=
export ATLAS_TOKEN=

export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export EC2_KEYNAME=
export EC2_KEYFILE=

export LOGSPOUT_URL=
